/*--General--*/
a {
    color: inherit;
    text-decoration: none;
}

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1440px;
}

/* header et navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-basis: 100%;
}

nav a {
    padding: 2.5rem;
    border-top: 3px solid transparent;
}

nav a:hover {
    border-top: 3px solid #0065fc;
    color: #0065fc;
}

#logobooki {
    margin-right: auto;
    padding: 0 2rem;
    height: 19px;
}

.sousnav {
    display: flex;
}

.contenu {
    padding: 0 2rem;
}

.contenu-titre h1 {
    margin-bottom: 0.2rem;
    margin-top: 2rem;
    font-size: 24px;
}

.contenu-titre p {
    margin-bottom: 1.2rem;
    margin-top: 0.5rem;
}

/* barre de recherche */
.recherche {
    display: flex;
}

.fa-location-dot {
    padding: 1.2rem 1.2rem;
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
}

.fa-magnifying-glass {
    display: none;
}

.recherche input {
    border: 1px solid #F2F2F2;
    padding-right: 2rem;
    padding-left: 1rem;
    overflow: auto;
}

.recherche input::placeholder {
    color: inherit;
    font-size: 1.1rem;
    font-weight: bold;
}

.recherche button {
    background-color: #0065fc;
    border-radius: 0 1rem 1rem 0;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0 1.5rem; 
    cursor: pointer;
}

/*--Filters---*/
.filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 110%;
    margin-top: 35px;
    margin-bottom: 30px;
    gap: 2.5rem;
}

.text-filter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-left: 1rem;
}

.text-filter h2 {
    font-size: 18.72px;
}

.filter-list {
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
}
.filter span {
    padding: 0.3rem;
    font-weight: bold;
}

.filter {
    border: 3px solid #F2F2F2;
    border-radius: 2rem;
    padding: 0.5rem;
    transition: all 150ms ease-in-out;
}

.filter i {
    color:#0065fc;
    padding: 0.5rem;
}

.filter:hover {
    background-color: #deebff;
    transform: scale(1.01   );
}
/*--Info--*/
.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -1rem;
}

.info i {
    color: #0065fc;
    border: solid 1px #d9d9d9;
    border-radius: 50%;
    padding: 7px 11px 7px 11px;
    margin-left: 0.5rem;;
}

.info p {
    margin-top: 1.2rem;
    padding-left: 1rem;
}

/*--section-liste--*/

.section-liste {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.section-liste > div {
    background-color:#F2F2F2;
    padding: 1.5rem;
    border-radius: 1rem;
}

.section-liste .hebergement {
    flex-basis: 66%;
    display: flex;
    flex-direction: column;
}

.section-liste .hebergement h2 {
    margin-left: 0.5rem;
}


/*--section-hebergement-liste-*/
.section-hebergement-liste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
}

.hebergement-global {
    display: flex;
	flex-direction: column;
    justify-content: center;
}

/*--Les plus populaires--*/
.section-liste .populaire {
    display: flex;
    gap: 1.1rem;
    flex-direction: column;
    flex-basis: 33%;
}


.titre-populaire {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}

.titre-populaire i {
    color: #0065fc;
}

/*--popualaire-card--*/
.populaire {
    display: flex;
    flex-direction: column;
}


.populaire-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.populaire-card {
    display: flex;
    padding: 0.4rem;
    background-color: white;
    gap: 1.5rem;
    border-radius: 1.7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(133, 15, 15, 0.19);
    flex-direction:row;
    flex-basis: 100%;
    transition: all 150ms ease-in-out;
}

.populaire-card:hover {
    transform: scale(1.01   );
}

.populaire-card img {
    object-fit: cover;
    height: 166px;
    width: 246px;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    align-items: center;
	justify-content: center;
}

.populaire-text {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.populaire-text h3 {
    margin-bottom: 1rem;
}

.populaire-text p {
    margin-top: -0.5rem;
}

.populaire-text .stars {
    margin-top: auto;
}

/*--hebergement-card--*/
.hebergement-card {
    display: flex;
    background-color: white;
    border-radius: 1.7rem;
    padding: 0.4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(133, 15, 15, 0.19);
    flex-direction: column;
    margin: 20px;
    flex-basis: 33%;
    transition: all 150ms ease-in-out;
}

.hebergement-card:hover {
    transform: scale(1.01   );
}

.hebergement-card img {
    object-fit: cover;
    height: 8rem;
    width: 100%;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.hebergement-card h3,
.hebergement-card p {
    margin: 0.5rem;
}

@media screen and (max-width: 1410px) {
   .hebergement-card h3 {
      margin-right: 0px;
      font-size: 17px;
    }

    .hebergement-card p {
        font-size: 15px;
    }

    .populaire-card h3 {
        margin-right: 0px;
        font-size: 17px;
    }

    .populaire-card p {
        font-size: 15px;
    }
  }

  @media screen and (max-width: 1310px) {
    .hebergement-card h3 {
       margin-right: 0px;
       font-size: 16px;
     }
    
    .hebergement-card p {
        font-size: 14px;
    }
 
     .populaire-card h3 {
         margin-right: 0px;
         font-size: 16px;
     }
    
     .populaire-card p {
         font-size: 14px;
     }
   }

   @media screen and (max-width: 1270px) {
    .hebergement-card h3 {
       margin-right: 0px;
       font-size: 15px;
     }
    
    .hebergement-card p {
        font-size: 13px;
    }
 
     .populaire-card h3 {
         margin-right: 0px;
         font-size: 15px;
     }
    
    .populaire-card p {
        font-size: 13px;
    }
    }

    @media screen and (max-width: 1230px) {
        .hebergement-card h3 {
           margin-right: 0px;
           font-size: 14px;
         }
        
        .hebergement-card p {
            font-size: 12px;
        }
     
         .populaire-card h3 {
             margin-right: 0px;
             font-size: 14px;
         }
        
        .populaire-card p {
            font-size: 12px;
        }
        }

      
   @media screen and (max-width: 1140px) {
    .hebergement-card h3 {
       margin-right: 0px;
       font-size: 13px;
     }
    
    .hebergement-card p {
        font-size: 11px;
    }
 
     .populaire-card h3 {
         margin-right: 0px;
         font-size: 13px;
     }

    .populaire-card p {
        font-size: 11px;
    }
    }

    @media screen and (max-width: 1110px) {
        .hebergement-card h3 {
           margin-right: 0px;
           font-size: 12px;
         }
        
        .hebergement-card p {
            font-size: 10px;
        }
     
         .populaire-card h3 {
             margin-right: 0px;
             font-size: 12px;
         }
    
        .populaire-card p {
            font-size: 10px;
        }
        }
    
        @media screen and (max-width: 1080px) {
            .hebergement-card h3 {
               margin-right: 0px;
               font-size: 11px;
             }
            
            .hebergement-card p {
                font-size: 9px;
            }
         
             .populaire-card h3 {
                 margin-right: 0px;
                 font-size: 11px;
             }
        
            .populaire-card p {
                font-size: 9px;
            }
            }
        
        @media  screen and (max-width:1320px){
            .activites-text h3 {
                font-size: 17px;
            }
        }

        @media  screen and (max-width:1225px){
            .activites-text h3 {
                font-size: 16px;
            }
        }

        @media  screen and (max-width:1170px){
            .activites-text h3 {
                font-size: 15px;
            }
        } 
        
        @media  screen and (max-width:1115px){
            .activites-text h3 {
                font-size: 14px;
            }
        }

        @media  screen and (max-width:1060px){
            .activites-text h3 {
                font-size: 13px;
            }
        }
    

.blue {
    color:#0065fc;
}

.grey {
    color:#F2F2F2;
}

.stars {
    display: flex;
}

.afficher-plus {
    padding-top: 1px;
    font-size: 17px;
}

/*--section-activité--*/
.section-activites {
    display:flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    padding: 2rem;
}

.titre-activites {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.activites-flex {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.activites-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 150ms ease-in-out;
}

.activites-card:hover {
    transform: scale(1.01   );
}

.activites-card img {
    display: flex;
    height: 450px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}

.activites-text {
    margin-left: 1.5rem;
}

/*--footer--*/

footer {
    background-color:#F2F2F2;
    margin-right: 2rem;
    margin-left: 2rem;
}

.footer-container {
    display: flex;
    margin: auto;
    padding: 0 20px;
}
.footer-titre {
    margin-left: 5px;
    margin-bottom: 5px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    width: 33%;
}

.footer-text {
    padding: 0;
}

.footer-text li {
    display: flex;
    list-style: none;
    padding: 3px;
}

.footer-text li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

  
  