.sousnav {
    flex-basis: 100%;
}
.sousnav a {
    flex-basis: 100%;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
 
}
.sousnav a:hover {
    border-bottom-color: #0065fc;
    border-top: 3px solid transparent;
}

#logobooki {
    margin-left: auto;
    margin-top: 3%;
}

