
/*--FILTER--*/
.filters .filter-list {
    gap: 1rem;
}

.fa-magnifying-glass {
    display: none;
}

/*--SECTION-HEBERGEMENT-POPUALIRE--*/
.section-liste {
    padding: 2rem;
    flex-direction: column;
}

/*--SECTION-POPULAIRE--*/
.section-liste .populaire {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.populaire .populaire-global {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; 
}

.populaire .populaire-card {
    width: 30%;
}

.populaire .populaire-flex {
    display: flex;
    gap: 2.5rem;
    flex-direction: row; 
    width: 100%;
}

.populaire .populaire-card img {
    height: 197px;
    width: 135px;
}

/*--SECTION-ACTIVITES--*/
.section-activites {
    padding: 2rem;
}

.section-activites .titre-activites {
    margin-top: -1rem;
}

.section-activites .activites-card {
    justify-content: flex-start;
}

.section-activites .activites-card img {
    height: 250px;
}